
<h1 class="mb-4"> Blog posts </h1>
<div class="row">
  <% @posts.each do |post| %>
      <div class="col-xs-12 col-md-3 mb-3">
        <img src="https://picsum.photos/300/300/?random" class="img-fluid" />
      </div>
      <div class="col-xs-12 col-md-9">
        <%= link_to post_path(post), class: 'bd-title' do %>
          <h2><%= post.title %></h2>
        <% end %>
        <p><%= post.content %></p>
      </div>
  <% end %>
</div>
