<img src="https://picsum.photos/1200/300/?image=966" class="mb-5" />
<h1><%= @post.title %></h1>
<p><%= @post.created_at.to_date %></p>
<p><%= @post.content %></p>

<% if is_post_author?(@post) %>
  <%= link_to 'Edit post', edit_post_path(@post), class: 'btn btn-primary' %>
  <%= link_to 'Destroy post', post_path, method: :delete, class: 'btn btn-outline-primary' %>
<% end %>