<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
      <%= link_to root_path, class: 'my-0 mr-md-auto font-weight-normal' do %>
        <h5>Blog</h5>
      <% end %>
      <nav class="my-2 my-md-0 mr-md-3">
        <%= link_to 'Create post', new_post_path, class: 'p-2 text-dark' %>
        <% if user_signed_in? %>
          <%= link_to 'Log out', destroy_user_session_path, method: :delete, class: 'btn btn-primary'%>
        <% else %>
          <%= link_to 'Sign in', user_session_path, class: 'btn btn-primary'%>
          <%= link_to 'Sign up', new_user_registration_path, class: 'btn btn-outline-primary'%>
        <% end%>
      </nav>
    </div>
    <div class="container">
      <div class="col">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
